asgiref==3.7.2
astroid==2.15.5
blinker==1.6.2
certifi==2023.7.22
click==8.1.3
colorama==0.4.6
dill==0.3.6
distlib==0.3.7
Django==4.2.2
filelock==3.12.2
Flask==2.3.2
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.4.2
lazy-object-proxy==1.9.0
MarkupSafe==2.1.3
mccabe==0.7.0
mysql-connector-python==8.1.0
mysqlclient==2.2.0
numpy==2.2.1
pipenv==2023.7.23
platformdirs==3.10.0
protobuf==4.21.12
pylint==2.17.4
scikit-learn==1.6.0
scipy==1.14.1
sqlparse==0.4.4
threadpoolctl==3.5.0
tomlkit==0.11.8
tzdata==2023.3
virtualenv==20.24.3
virtualenv-clone==0.5.7
Werkzeug==2.3.6
wrapt==1.15.0
